@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.Digital{
font-family: 'Inter';
font-style: normal;
font-weight: 600px;
font-size: 36.3951px;
line-height: 44px;
color: #C92071;
letter-spacing: -0.01em;
margin-left: 8px;
margin-right: 27px;
cursor: default;
}


.App-header{
    width: 1440px;
    height: 192px;
    box-shadow: 0px 10px 30px rgba(141, 114, 32, 0.05);
    background: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.logo{
margin-left: 8px;
background: #C92071;
transform: matrix(1, 0, 0, -1, 0, 0);
margin-right: 104px;
}


.home{
    display: flex;
    justify-content: space-around;
    margin-top: 34px;
    text-align: center;
    align-items: center;
}


.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.place{
width: 559px;
height: 60px;
left: 384px;
top: 34px;
background:rgba(71, 71, 71, 4%);
border-radius: 8px;
border: none;
margin-right: 48px;
font-family: 'inter';
padding-left: 24px;

}


.cadastre-se{
font-family: 'inter';
line-height: 28px;
letter-spacing: 0.75px;
text-decoration-line: underline;
color: #474747;
width: 80;
height: 28px;
font-weight: 400;
font-size: 16px;
font-style: normal;
margin-right: 40px;
text-align: center;
cursor: pointer;

}
.cadastre-se:hover{
    color: black;
    
}
.ementa{
    font-size: 16px;
    font-weight: 400;
    color:#474747;
    text-decoration: none;
}
.ementa:hover{
    font-size: 16px;
    color:#C92071;
    font-weight: 700;
    text-decoration: underline;
}

.entrar{
    background: #C92071;
    border-radius: 8px;
    width: 114px;
    height: 40px;
    border: none;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-right: 70px;
    cursor: pointer;
    

}

.entrar:hover{

    background: #fb278e;
    border: 1px solid black; 
    

}
.carrinho{
    cursor: pointer;
}

.svg{
    cursor: pointer;
}

.headercadastre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}

.lineargradient{
    /* background: linear-gradient( #B5B6F2, #FFFFFF); */
    background-image: linear-gradient(to bottom, #B5B6F2 , #FFFFFF);

}

.Digitalcadastre{
    padding: 25px 100px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 23.9877px;
    line-height: 29px;
    letter-spacing: -0.01em;
    color: #C92071;   
    justify-content: space-around;
    text-align: center; 
    align-items: center;

}