.swiper {
    padding: 32px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: #C92071;
}

.swiper-button-prev {
    color: #C92071;
}

.swiper-button-next {
    color: #C92071;
}